<!DOCTYPE html>
<html>
  <head>
    <title>threejs-minimal</title>
    <style>
      body { margin: 0; padding: 0; overflow:hidden; }
      button { position:fixed; border: 3px solid black; border-radius:5px; width:90px; top:10px }
    </style>
  </head>
  <body>
        <button id="button1" style="left:10px"  > first person</button>
        <button id="button2" style="left:110px" > third person</button>
        <button id="button3" style="left:210px" > exit closeup</button>
        <button id="button4" style="left:310px" > reset       </button>
  </body>
</html>
